* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("../images/RBa2EX.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bangers", cursive;
}

.player {
  height: 200px;
  position: absolute;
}

.instructions {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

h2 {
  width: 300px;
  color: white;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 1.25;
}

span {
  color: yellow;
}
